<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Seinenkai Braganca</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="https://kit.fontawesome.com/d7ae8f0b3d.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">
          <img class="imglogo" src="/images/seinenlogo.jpg" width="50" height="50" alt="">
          </a>
       
      </div>
        <ul class="list nav navbar-nav ">
          <!-- 6 -->
          <li id="home"><a href="/">INICIO</a></li>
          <li id="nogamenokai"><a href="https://animenipo.com.br/nogamenokai/">NO GAME NO KAI</a></li>
          <li id="seinenfest"><a href="https://www.facebook.com/seinenfest">SEINEN FEST</a></li>
          <li id="form"><a href="/form">REGISTRO</a></li>
          <li id="contato"><a href="/#contato1">FALE CONOSCO</a></li>
          <a href="/login"<button class="btn btn-lg " type="button"><i class="fas fa-user"></i>Login</button></a>

        </ul>
    
  </div>
      
    </div>
  </nav>

 