<%- include("partials/header") -%>




      <svg class="circulo" width ="300" height="300" viewBox="0 0 300 300" >
  		<circle class="dashed" cx="150" cy="150" r="100" stroke="white" stroke-width="55" fill="none" ></circle>
  		 </svg>

  		<img class= "logoadd" width = '400' height="400" src="/images/virgula.svg" alt="">
  		
  		<a href="/"><img class="titulo" src="/images/titulo2.svg" alt=""></a>
  
	 
	  	<a href="/form"><button class="btn btn-lg membro" type="button"><i class="fas fa-user-plus"></i>Seja um novo membro</button></a>

	  	<div class="redes">

	  	<h1> Já segue nossas redes sociais? </h1>
	  	 <a href="https://www.instagram.com/seinenkaibraganca/?hl=pt-br"><i class="fab fa-instagram fa-7x"></i></button></a>
	  	 <a href="https://www.facebook.com/Seinenkaibraganca/"><i class="fab fa-facebook fa-7x"></i></a>
	  	 <a href="https://www.youtube.com/user/seinenkaibp"><i class="fab fa-youtube fa-7x"></i></a>
      	
	  		
	  	</div>


	  	<div id=contato1>

	  	<h1 class="titulocontato"> Contato </h1>

	  	<h4><i class="fas fa-envelope fa-1.5x"></i> seinenbp@gmail.com</h4>
	  	<h4 class="telefone"><i class="fas fa-phone-alt fa-1.5x"></i> (11) 0000-000</h4>
	  	<h4>Av. Nipo Brasileira, 340 – Jardim América </h4>
	  	<h4>Bragança Paulista - SP</h4>

	  	</div>


<%- include("partials/footer") -%>	  




